.toggle-filter-section {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.alphabet-list {
    list-style-type: none;
    gap: 0.25rem;
}

.alphabet {
    background-color: #eaebee;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.2rem;
    width: 90%;
    color: var(--blue-200);
    border-radius: 5px;
    font-size: 0.7rem;
}

.alphabet:hover {
    background-color: var(--red-800);
    color: var(--white);
    opacity: 1;
    cursor: pointer;
}

.active-alphabet-filter {
    background-color: var(--red-800);
    color: var(--white);
    opacity: 1;
    cursor: pointer;
}