<!-- <div class="search-container d-flex jus-content-btw w-100 p-5">
    
  </div> -->
  <div class="search-bar flex-container">
    <img src="assets/images/bx-search.png" alt="search" class="find-icon">
    <input type="text" placeholder="Search" class="search-input" id="search-input">
  </div>

  <div class="search-bar-icons d-flex">
    <img src="assets/icons/language.svg" alt="Language" class="Language-icon">
    <img src="assets/icons/categories.svg" alt="categories" class="categories-icon">
    <img src="assets/icons/mode.svg" alt="mode" class="mode-icon">
    <img src="assets/icons/notifications.svg" alt="Notifications" class="Notifications-icon">
  </div>
  <div class="admin-container flex-container">
    <div class="admin-img-container flex-container">
      <img src="assets/images/profile.webp" alt="admin" class="admin-img">
    </div>
    <div class="admin-detail d-flex flex-col">
      <span class="admin-name">Jhon Abraham</span>
      <span class="admin-role">Admin</span>
    </div>
    <img src="assets/icons/arrow-black.svg" alt="arrow-icon" class="drop-down-arrow">
  </div>
  