<div class="role-card flex-container flex-col">
    <div class="role-title-icon d-flex jus-content-btw w-100">
        <div class="role-title">{{roledata.name}}</div><img src="assets/icons/edit.svg" alt="edit-icon">
    </div>
    <div class="w-100 role-details flex-container flex-col">
        <div class="role-department d-flex jus-content-btw w-100">
            <div class="dept-icon d-flex"><img src="assets/icons/emp-id.svg" alt="department-icon">Departments</div>
            <div class="role-dept-name">{{roledata.departments.join(', ')}}</div>
        </div>
        <div class="role-department d-flex jus-content-btw w-100">
            <div class="dept-icon d-flex"><img src="assets/icons/location.svg" alt="location-icon">Locations</div>
            <div class="role-dept-location">{{roledata.locations.join(', ')}}</div>
        </div>
        <div class="role-department d-flex jus-content-btw w-100">
            <div class="dept-icon">Total Employee</div>
            <div class="empl-profile-container d-flex jus-content-btw">
                <img
                    [src]="roledata.profiles[0]" alt="profile-img" class="profile-1" *ngIf="roledata.profiles.length > 0">
                <img
                    [src]="roledata.profiles[1]" alt="profile-img" class="profile-2" *ngIf="roledata.profiles.length > 1">
                <img
                    [src]="roledata.profiles[2]" alt="profile-img" class="profile-3" *ngIf="roledata.profiles.length > 2">
                <img
                    [src]="roledata.profiles[3]" alt="profile-img" class="profile-4" *ngIf="roledata.profiles.length > 3">
                <span *ngIf="roledata.profiles.length > 4" class="plus-employee">
                    + {{roledata.profiles.length - 4}}
                </span>
                    
            </div>
                    
        </div>
    </div>
    <a class="anchor view-all-container" [routerLink]="[roledata.id]"
        title="employee-page">
        <div class="view-all-container d-flex">View all Employee<img src="assets/icons/vector.svg" alt="right-arrow">
        </div>
    </a>
</div>