<div class="wrapper d-grid">
    <!-- <sidebar></sidebar> -->
    <div class="sidebar-container flex-container flex-col jus-content-btw">
        <div class="sidebar-main">
          <div class="logo-container flex-container jus-content-btw">
            <a href="">
              <img src="assets/images/tezo-logo.png" alt="tezo" class="logo p-5" />
            </a>
            <img src="assets/images/handle.png" alt="arrow-icon" class="sidebar-min-icon" />
          </div>
  
          <div class="navbar-section w-100">
            <div class="navbar-sec-heading p-5">All</div>
            <div class="navbar-items">
              <div class="navbar-item b-5 d-flex jus-content-btw">
                <div class="navbar-item-logo d-flex">
                  <img src="assets/icons/dashboard-black.svg" alt="Dashboard-icon" />
                  <div class="navbar-item-title">Dashboard</div>
                </div>
              </div>
              <div routerLink="employees" [routerLinkActive]="'active'"  class="navbar-item b-5 d-flex jus-content-btw">
                <div class="navbar-item-logo d-flex">
                  <img src="assets/icons/employee-red.svg" alt="employee-icon" />
                  <div class="navbar-item-title">Employees</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="navbar-section w-100 role-manage-sec">
            <div class="navbar-sec-heading p-5">
              <div class="md-heading">Role / User Management</div>
              <div class="sm-heading">Role</div>
            </div>
            <div class="navbar-items">
              <!-- <a routerLink="roles" class="anchor side-role-sec" routerActiveLink="active"> -->
                <div routerLink="roles" [routerLinkActive]="'active'"  class="navbar-item side-role-sec flex-container jus-content-btw">
                  <div class="navbar-item-logo d-flex">
                    <img src="assets/icons/role-black.svg" alt="role-icon" />
                    <div class="navbar-item-title">Role</div>
                  </div>
                  <div class="side-explore-arrow">
                    <img src="assets/icons/arrow-black.svg" alt="arrow-icon" />
                  </div>
                </div>
              <!-- </a> -->
  
              <div class="navbar-item flex-container jus-content-btw">
                <div class="navbar-item-logo d-flex">
                  <img src="assets/icons/assign-user-black.svg" alt="" />
                  <div class="navbar-item-title">Access Rights</div>
                </div>
                <div class="side-explore-arrow">
                  <img src="assets/icons/arrow-black.svg" alt="arrow-icon" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-update-container p-5">
          <div class="app-update">
            <div class="app-update-title">Install new update 2.3.1A</div>
            <div class="app-update-desc">
              Allow to launch the new update for the AD Application
            </div>
            <div class="app-update-btns">
              <a href="#" class="dismiss-btn btn b-5">Dismiss</a>
              <a href="#" title="accept" class="accept-btn btn b-5">Accept</a>
            </div>
          </div>
        </div>
    </div>
    <div class="content flex-container flex-col jus-content-start w-100">
      <!-- <searchbar> </searchbar> -->
       <div class="search-container d-flex jus-content-btw w-100 p-5">
        <div class="search-bar flex-container">
            <img src="assets/images/bx-search.png" alt="search" class="find-icon">
            <input type="text" placeholder="Search" class="search-input" id="search-input">
          </div>
        
          <div class="search-bar-icons d-flex">
            <img src="assets/icons/language.svg" alt="Language" class="Language-icon">
            <img src="assets/icons/categories.svg" alt="categories" class="categories-icon">
            <img src="assets/icons/mode.svg" alt="mode" class="mode-icon">
            <img src="assets/icons/notifications.svg" alt="Notifications" class="Notifications-icon">
          </div>
          <div class="admin-container flex-container">
            <div class="admin-img-container flex-container">
              <img src="assets/images/profile.webp" alt="admin" class="admin-img">
            </div>
            <div class="admin-detail d-flex flex-col">
              <span class="admin-name">Jhon Abraham</span>
              <span class="admin-role">Admin</span>
            </div>
            <img src="assets/icons/arrow-black.svg" alt="arrow-icon" class="drop-down-arrow">
          </div>
        </div>
        <!-- <employee></employee>
        <role></role>
        <roledetail></roledetail> -->
        <router-outlet></router-outlet>
    </div>
</div>
