<div class="filter-opts d-flex">
    <div class="filter-icon-container flex-container">
      <span>Filter</span>
      <img src="assets/icons/filter-lines.svg" alt="filter-lines" class="filter-icon" />
    </div>
    <selectfilter name="status" [values]="statusList" 
     (valuesEvent)="onStatusFilterChange($event)" (filterChangedEvent)="onFilterChange($event)"
    [isAllValuesDefault]="isStatusDefault"></selectfilter>
    <selectfilter name="Department" [values]="departmentList" 
     (valuesEvent)="onDeptFilterChange($event)" (filterChangedEvent)="onFilterChange($event)"
     [isAllValuesDefault]="isDeptDefault"></selectfilter>
    <selectfilter name="Location" [values]="locationList"
     (valuesEvent)="onLocationFilterChange($event)" (filterChangedEvent)="onFilterChange($event)"
    [isAllValuesDefault]="isLocationDefault"></selectfilter>
  </div>
  <div class="btn-container d-flex">
    <button class="btn reset-btn" (click)="resetFilters()">Reset</button>
    <button class="btn apply-btn" (click)="applyFilters()">Apply</button>
  </div>
